body{

color:blue;

}

h1{
   color:red;
   font-size: 1.5em;
}


h2{
   color:yellow;
   font-size:2em;
}

p{
  color: pink;
}

h1{
   color: #222232;
   font: arial;
   background-color: #222232;
   width: auto;
   height: auto;
   padding: 0pc;
   border: #222232;
   box-shadow: white;
   border-radius: 1px;
}